<script crossorigin=anonymous integrity=sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.slim.min.js></script>
<script async crossorigin=anonymous integrity=sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn src=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js></script>
<script>
 $(document).ready(function(){
    $('#grey-btn-submit').click(function(){
       $('#ico-part2').replaceWith($('#contract').show());
    });
  });
</script>
