<div class="container">
<div class="modal-body row text-center">
  <div class="col-lg-4">
    <h1 id={{ site.data.theme.heading4.[site.active_lang] }}><a href={{ site.data.theme.melima-core }} style=color:white class=card-header id=orange-coloring>Melima Core</a></h1><br>
    <p id=melima-heading>Melima backend с использование <a href=https://github.com/strongloop/loopback>LoopBack framework</a></p>
    <p>Использование LoopBack позволяет создать быстрый и эффективный API и избежать проблем связанных с интеграцией с разными БД</p>
    <p>Текущая версия melima core настроена для <a href=https://www.postgresql.org/>PostgresSQL</a>, но благодаря LoopBack, вы можете <a href=http://loopback.io/doc/en/lb3/Database-connectors.html>подключить любую популярную БД</a></p>
    </div>
  <div class="col-lg-4">
    <h1 id={{ site.data.theme.heading4.[site.active_lang] }}><a href={{ site.data.theme.melima-web }} style=color:white class=card-header id=blue-coloring>Melima Web</a></h1><br>
    <p id=melima-heading>Melima Интерфейс Администратора (MAI)</p>
    <p>MAI предназначен для создания новых продуктов, установки цен, количества вещей, для слежения за заказами, удаления заказов, применения скидок и много другого</p>
    <p>MAI создан с использованием <a href=https://github.com/twbs/bootstrap>Bootstrap</a>, <a href=https://github.com/jquery/jquery>jQuery</a>, <a href=https://github.com/BorisMoore/jsrender>JsRender</a> и <a href=https://github.com/victorjonsson/jQuery-Form-Validator>jQuery Form Validator</a></p>
    <p>Использование распространенных JavaScript библиотек позволяет MAI оставаться достаточно дружелюбным для начинающих разработчиков</p>
    </div>
  <div class="col-lg-4">
    <h1 id={{ site.data.theme.heading4.[site.active_lang] }}><a href={{ site.data.theme.melima-android }} style=color:white class=card-header id=grey-coloring>Melima Droid</a></h1><br>
    <p id=melima-heading>Melima Android Клиент</p>
    <p>Главное приложение для использования конечным потребителем</p>
    <p>Потребитель может ознакомиться с описанием товара, увидеть фотографию, сделать заказ или создать уникальный заказ</p>
    <p>Используемые технологии: <a href=https://github.com/square/retrofit>Retrofit</a> и <a href=https://github.com/google/gson>Gson</a> для JSON сериализации в Java объекты, и их зависимости
    <p>В данный момент только <a href=https://github.com/Melima-Project/me-android-early-proto>начальный прототип</a> с LoopBack аутентификацией доступен</p>
    </div>
</div>
</div>
