<div class="container">
<div class="modal-body row text-center">
  <div class="col-lg-4">
    <h1 id={{ site.data.theme.heading4.[site.active_lang] }}><a href={{ site.data.theme.melima-core }} style=color:white class=card-header id=orange-coloring>Melima Core</a></h1><br>
    <p id=melima-heading>Melima backend based on <a href=https://github.com/strongloop/loopback>LoopBack framework</a></p>
    <p>Using LoopBack helps us create fast and efficient API and removes various DBs integration hassle</p>
    <p>Current melima core version configured for <a href=https://www.postgresql.org/>PostgresSQL</a>, but thanks to LoopBack you can <a href=http://loopback.io/doc/en/lb3/Database-connectors.html>connect any popular database</a></p>
    </div>
  <div class="col-lg-4">
    <h1 id={{ site.data.theme.heading4.[site.active_lang] }}><a href={{ site.data.theme.melima-web }} style=color:white class=card-header id=blue-coloring>Melima Web</a></h1><br>
    <p id=melima-heading>Melima Administration Interface (MAI)</p>
    <p>MAI used to create new products, adjust prices, items count, watch and remove orders, apply discounts and much more</p>
    <p>MAI made with <a href=https://github.com/twbs/bootstrap>Bootstrap</a>, <a href=https://github.com/jquery/jquery>jQuery</a>, <a href=https://github.com/BorisMoore/jsrender>JsRender</a> and <a href=https://github.com/victorjonsson/jQuery-Form-Validator>jQuery Form Validator</a></p>
    <p>Using common JavaScript libraries makes MAI very friendly for novice developers</p>
    </div>
  <div class="col-lg-4">
    <h1 id={{ site.data.theme.heading4.[site.active_lang] }}><a href={{ site.data.theme.melima-android }} style=color:white class=card-header id=grey-coloring>Melima Droid</a></h1><br>
    <p id=melima-heading>Melima Android Client</p>
    <p>Main application for use by the end customer</p>
    <p>Customer can check interested product description, item photo and create or suggest order</p>
    <p>Technologies used: <a href=https://github.com/square/retrofit>Retrofit</a> and <a href=https://github.com/google/gson>Gson</a> for JSON to Java object serialization and dependencies</p>
    <p>Right now only <a href=https://github.com/Melima-Project/me-android-early-proto>early prototype</a> with LoopBack authentification available</p>
    </div>
</div>
</div>
