<div id="roadmap">
<h2 id="Roadmap">Дорожная карта (roadmap)</h2><p></p>
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="row text-center">
            <div class="col-md-3">{% capture roadmap-p1-ru %}{% include roadmap/roadmap-p1-ru.md %}{% endcapture %}{{ roadmap-p1-ru | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p2-ru %}{% include roadmap/roadmap-p2-ru.md %}{% endcapture %}{{ roadmap-p2-ru | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p3-ru %}{% include roadmap/roadmap-p3-ru.md %}{% endcapture %}{{ roadmap-p3-ru | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p4-ru %}{% include roadmap/roadmap-p4-ru.md %}{% endcapture %}{{ roadmap-p4-ru | markdownify }}</div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <div class="row text-center">
            <div class="col-md-3">{% capture roadmap-p5-ru %}{% include roadmap/roadmap-p5-ru.md %}{% endcapture %}{{ roadmap-p5-ru | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p6-ru %}{% include roadmap/roadmap-p6-ru.md %}{% endcapture %}{{ roadmap-p6-ru | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p7-ru %}{% include roadmap/roadmap-p7-ru.md %}{% endcapture %}{{ roadmap-p7-ru | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p8-ru %}{% include roadmap/roadmap-p8-ru.md %}{% endcapture %}{{ roadmap-p8-ru | markdownify }}</div>
        </div>
    </div>
</div>
</div><br>
