<div id="roadmap">
<h2 id="Roadmap">Roadmap</h2><p></p>
<div class="row">
    <div class="col-md-6 col-md-offset-1">
        <div class="row text-center">
            <div class="col-md-3">{% capture roadmap-p1 %}{% include roadmap/roadmap-p1.md %}{% endcapture %}{{ roadmap-p1 | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p2 %}{% include roadmap/roadmap-p2.md %}{% endcapture %}{{ roadmap-p2 | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p3 %}{% include roadmap/roadmap-p3.md %}{% endcapture %}{{ roadmap-p3 | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p4 %}{% include roadmap/roadmap-p4.md %}{% endcapture %}{{ roadmap-p4 | markdownify }}</div>
        </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
        <div class="row text-center">
            <div class="col-md-3">{% capture roadmap-p5 %}{% include roadmap/roadmap-p5.md %}{% endcapture %}{{ roadmap-p5 | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p6 %}{% include roadmap/roadmap-p6.md %}{% endcapture %}{{ roadmap-p6 | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p7 %}{% include roadmap/roadmap-p7.md %}{% endcapture %}{{ roadmap-p7 | markdownify }}</div>
            <div class="col-md-3">{% capture roadmap-p8 %}{% include roadmap/roadmap-p8.md %}{% endcapture %}{{ roadmap-p8 | markdownify }}</div>
        </div>
    </div>
</div>
</div><br>
