<br>
<div class="text-center">
    <a href="{{ site.baseurl }}/{{ site.data.theme.codedetector2.[site.active_lang] }}#ico" class="btn-lg btn-success" id="orange-btn" title="{{ site.data.theme.join-ico.[site.active_lang] }}">{{ site.data.theme.join-ico.[site.active_lang] }}</a>
    <a href="{{ site.baseurl }}/{{ site.data.theme.codedetector2.[site.active_lang] }}#contribute" class="btn-lg btn-success" id="blue-btn" title="{{ site.data.theme.contribute.[site.active_lang] }}">{{ site.data.theme.contribute.[site.active_lang] }}</a>
    <a href="https://hda.me/73ef1" class="btn-lg btn-success" id="grey-btn" title="{{ site.data.theme.subscribe.[site.active_lang] }}">{{ site.data.theme.subscribe.[site.active_lang] }}</a>
