<ul class="icon-links">
<li class="icon-link-item"><a href="{{ site.data.theme.social.github }}">{{ site.data.theme.img.github }}</a></li>
<li class="icon-link-item"><a href="{{ site.data.theme.social.twitter }}">{{ site.data.theme.img.twitter }}</a></li>
<li class="icon-link-item"><a href="{{ site.data.theme.social.reddit }}">{{ site.data.theme.img.reddit }}</a></li>
<li class="icon-link-item"><a href="{{ site.data.theme.social.steemit }}">{{ site.data.theme.img.steemit }}</a></li>
<li class="icon-link-item"><a href="{{ site.data.theme.social.rocket }}">{{ site.data.theme.img.rocket }}</a></li>
</ul><p></p>
