---
layout: compress
---

{% include head.html %}
{% include nav_footer/nav-base.html %}
{% include nav_footer/nav.html %}
{% include melima/melima-pre.html %}
{% if site.active_lang == "en" %}{% include melima.html %}{% elsif site.active_lang == "ru" %}{% include melima-ru.html %}{% else %}{% endif %}
{% include melima/melima-buttons.html %}
{% include melima/melima-post.html %}
{% include contribute.html %}
{% include nav_footer/footer-base.html %}
{% include nav_footer/footer.html %}
{% include /lazy_load/lazy-load.html %}
{% include /lazy_load/lazy-load-font.html %}
